.task {
    background-color: rgb(225, 207, 207);
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.task.reminder {
    border-left: 5px solid rgb(217, 115, 25);
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}